@import "tailwindcss";

:root {
  --background: rgb(224, 242, 254);
  --foreground: rgb(255, 242, 224);
  --shadow-purple: rgb(255, 224, 254);
  --shadow-light-blue: rgb(224, 255, 251);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shadow-purple: var(--shadow-purple);
  --color-shadow-light-blue: var(--shadow-light-blue);
  --font-tenor-sans: var(--font-tenor-sans);
}

.mobile-nav-menu {
  display: block;
}

@utility text-shadow {
  filter: drop-shadow(1px 1px 1px rgba(71, 71, 71, 0.5));
}

@utility glass-background {
  background-color: rgba(224, 242, 254, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 10px color-mix(in srgb, var(--foreground), transparent 60%);
  border: 1px solid color-mix(in srgb, var(--foreground), transparent 40%);
  border-radius: 3.125rem;
}

@utility header {
  background-color: rgba(224, 242, 254, 0.4);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 10px color-mix(in srgb, var(--foreground), transparent 60%);
  border-bottom: 1px solid color-mix(in srgb, var(--foreground), transparent 40%);
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(/background/bg-mobile.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(8px);
  transform: scale(1.1);
  z-index: -1;
}

body {
  background-color: var(--background);
  color: var(--background);
  font-family: var(--font-tenor-sans), sans-serif;
  font-size: 0.875rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

@media (min-width: 40rem) {
  body::before {
    background-image: url(/background/bg-desktop.webp);
  }

  body {
    font-size: 1rem;
  }
  .mobile-nav-menu {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}
