@import "tailwindcss";

:root {
  --background: rgb(224, 242, 254);
  /* --background: rgb(141, 128, 176); */
  --foreground: rgb(255, 242, 224);
  /* --foreground: rgb(183, 103, 106); */
  /* --logo-color: rgb(227, 197, 175); */
  --logo-color: rgb(229, 228, 226);
  --shadow-purple: rgb(255, 224, 254);
  --light-green: rgb(224, 255, 226);
  --shadow-gray: rgb(71, 71, 71);
  --dark-blue: rgb(2, 13, 41);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-logo-color: var(--logo-color);
  --color-shadow-purple: var(--shadow-purple);
  --color-light-green: var(--light-green);
  --color-shadow-gray: var(--shadow-gray);
  --color-dark-blue: var(--dark-blue);
  --font-tenor-sans: var(--font-tenor-sans);
}

.mobile-nav-menu {
  display: block;
}

@utility text-shadow {
  filter: drop-shadow(2px 2px 2px #000);
}

@utility avatar {
  border: 1px solid color-mix(in srgb, var(--foreground), transparent 50%);
  box-shadow: 0 0 15px color-mix(in srgb, var(--shadow-gray), transparent 30%);
}

@utility glass-background {
  background-color: color-mix(in srgb, var(--dark-blue), transparent 95%);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 10px color-mix(in srgb, var(--logo-color), transparent 70%);
  border: 1px solid color-mix(in srgb, var(--logo-color), transparent 70%);
  border-radius: 3.125rem;
}

@utility header {
  background-color: color-mix(in srgb, var(--dark-blue), transparent 95%);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 10px color-mix(in srgb, var(--logo-color), transparent 70%);
  border-bottom: 1px solid color-mix(in srgb, var(--logo-color), transparent 70%);
  border-bottom-left-radius: 3.125rem;
  border-bottom-right-radius: 3.125rem;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url(/background/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -2;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-cormorant-infant), sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

@media (min-width: 40rem) {
  body::before {
    background-image: url(/background/background.webp);
  }

  body {
    font-size: 1.125rem;
  }
  .mobile-nav-menu {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

.animate-shimmer {
  animation: shimmer 8s linear infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-pulse-scale {
  animation: pulse-scale 2s ease-in-out infinite;
}

@keyframes pulse-scale {
  0%,
  30%,
  100% {
    transform: scale(1);
  }
  20%,
  50% {
    transform: scale(1.1);
  }
}
